/* effects all */
    header{
    background-color: rgba(43, 102, 255, 1);
    padding-block: 30px;
    border: none;
    padding-inline: 30px ;

    }
    body{
    background-color:rgba(188, 223, 255, 1)  ;
    color: brown;
    margin: auto;
    }
    footer{
    background-color: rgba(43, 102, 255, 1);
    height: 100px;
}


/* main header navigation */
    header nav li{
        list-style: none;
        color: brown;
    }
    header nav{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        font-family: 'Times New Roman';
    }
    header nav menu#main-menu{
        display: flex;
        gap: 25px;
    }
    header nav menu.dropdown{
        display: none;
    }
    header nav .dropdown-trigger:hover menu.dropdown{
        display:block;
        position: absolute;
    }
    header nav a{
        color: white;
        font-size: 24px;
        font-weight: 50;
        text-decoration: none;
    }
    header button{
        background-color:rgba(43, 102, 255, 1) ;
        border-color: transparent;
        border: 0px;
        font-family:'Times New Roman' ;
}

/* experiance page */
.ex-p{
    background-color:#D9D9D9 ;
}

/* homepage images */
body nav img.homepage-image{

    width: 1670px;
    height: 550px;

    flex-shrink: 0;
    padding-left:120px  ;
    padding-right:113px ;
    padding-top:36px ;


    position: relative;
    object-fit: cover;
    object-position: top;
        
    max-width: 100%;
}

/* homepage */
nav h4.Welcome{

    font-size: 96px;
    padding-left: 120px;
    color: #008614;
    font-family: "Istock Web";
    font-style: normal;
    font-weight: 400px;
}

nav h3.contact{
padding-left: 120px;

}

nav h2.info{
padding-left: 120px;
}

body nav p{
    padding-left: 120px;
    padding-right: 120px;
    color: #000;
    font-family: Kadwa;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    top: -50px;
}



/*widgits for pages*/ 

nav.social{
   
    display: flex;
    gap: 24px;
    content: center;
    padding-top: 21px;
    margin-inline: 24px;
    stroke-width: 2px;
    justify-content: flex-end;

}


/* project css */

section#projects img{
    height: 535px;
    width: 535px;
    object-fit: cover;
    object-position: right;
    
}


#projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}

#projects article{
    margin-inline:120px ;
    margin-top: 119px;
    margin-bottom:119px ;
    position: relative;

}


#projects .overlay{
    position: absolute;
    top:0 ;
    left:0 ;
    background-color: none;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

section article a{
    text-decoration: none;
}

#projects .overlay #g{
    font-size: 128px;
    text-align: center;
    text-decoration:none ;
    color: rgb(0, 0, 0);
    top: 0;
}
#projects .overlay #p{
font-size: 64px;

position: absolute;
left: 100px;
top: 350px;
text-align: center;
color: black;


}

#projects .overlay #c{
font-size:96px;
text-align: center;
color:black;
}



#projects .overlay:hover{
    opacity: 1;
}

 /* graphics images  */
#graphics-2 a img{
    width: 313px;
    height: 310px;
    position: relative;
    object-fit: cover;
   
}

#graphics-2{
      
    display:flex;
    flex-wrap:wrap ;
    flex: auto;
    justify-content: center;
}

#graphics-2 article{
    background-color: white;
    
}

/* grpahics meida query things */




/* photo immages */


#photo-2 img{
    width: 313px ;
    height: 313px;
    position: relative;
    object-fit: cover;
}
img.r9{
object-position: auto ;}


#photo-2{
    display:flex;
    flex-wrap:wrap ;
    flex: auto;
    justify-content: center;
}
/* club immages */

#club-2 img{
    width:313px ;
    height:313px;
    position: relative;
    object-fit: cover;
}

#club-2{
    display:flex;
    flex-wrap:wrap ;
    flex: auto;
    justify-content: center;
}

#club-2 article{
    background-color: white;
}

/* video */
#video-2 img{ 
    width:313px ;
    height:313px;
    position: relative;
    object-fit: cover;
    padding-top: 200PX;
}

#video-2{
    display:flex;
    flex-wrap:wrap ;
    flex: auto;
    justify-content: center;
}

video{
    width: 100%;
    height: auto; 
         
}
/* text */


h2{
font-family: "Kadwa";
}

h3{
font-family:"Knewave" ;
font-weight: normal;
}

h4{
font-family:"Istok Web";
}



/* effects all graphics,photo,and club images */


/* article.top{

    margin-top:143px ;
    margin-bottom: 64px;
}

article.middle{
    margin-top: 64px;
    margin-bottom: 64px;
}

article.bottom{
    margin-top: 64px;
    margin-bottom: 247px;

} */

/* #c1{
    margin-left: 120px ;
    margin-right:131px ;

}

#c2{
    margin-left:131px ;
    margin-right:124px ;

} */

/* experiance page */
body h1 .ex-p, body h1 .classes-p{
    background-color: #D9D9D9;
    color: black;
    text-decoration: none;
}
#info{
    display: flex;
    gap:50px;
    margin:120px ;
    justify-content: center;
}
#info p{
text-align: center;
}

.classes-p a{
    text-decoration: none;
    color: black;
}

p#small-text{
    justify-content: center;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 0px;
    font-size:30px ;

}
/*mobile menue  */
#mobile-nav button{
    background-color: transparent;
    border: 0px;
    
}

#overlay-menu-contaner{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* red, green, blue, alpha */
    background-color:rgba(0,0,0,.5);
    z-index: 100;
    display: none;
}

#overlay-menu {
    background-color: #07656e;
    width: 80%;
    border-radius: 20px;
    margin: 90px auto;
    text-align: center;
    padding: 50px;
    position: relative;

}

#overlay-menu menu{
    padding-left: 0;
}

#overlay-menu menu li a{
    font-size: 28px;
    /* block mean top and bottom, inline means left and right */
    margin-block: 10px;
    display: inline-block;
}

#close-menu{
    position: absolute;
    top: 10px;
    right: 20px;

}

header span{
    color: white;
    font-size: 28px;

}

#mobile-nav{
    display: none;

}

/* phone size */
@media (max-width:430px){

body nav img.homepage-image{

    height: 167px;
    width: 373px;
    padding-left:28px  ;
    padding-top:24px ;
    padding-right: 0px;
}

h4{
    color: red;
}

/* header */
header nav li{
    list-style: none;
    color: brown;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-family: 'Times New Roman';
}
header nav menu#main-menu{
    display: none;
    gap: 25px;
}

header nav a.homepage{
    color: white;
}

/* text for homepage */
nav h4.Welcome{
    font-size: 36px;
    padding-left: 30px;
}
body nav p {
    padding-left: 30px;
    padding-right: 0px;
    font-size: 15px;
}
nav h3.contact {
padding-left:30px ;
}
nav h2.info{
padding-left: 30px;
}
nav.social{
   
justify-content: center;
}


#desktop-nav{
    display: none;
}

#mobile-nav{
    display: block;
}

main{
    width: 90%;
}
header{
    justify-content: space-around;
}

header{
    display: flex;
    /* top bottom | left/right */
    padding: 20px 10%;
    justify-content: space-around ;
    align-items: center;

}
}